.block {
    background-color: red;
    height: 700px;
    width: 500px;
}
.aut {
    margin-left: 200px;
}
.login {
    border-radius: 20%;
    background-color: orange;
    margin-left: 170px;
}
.password {
    border-radius: 20%;
    background-color: orange;
    margin-left: 170px;
}
.cx {
    margin-left: 155px;
}
 .but
 {
 width: 300px;
 background-color: yellow;
 border-radius: 50%;
 margin-left: 100px;;
}
.pb {
    text-align:center;
}
